# 忽略 CMake 生成的构建文件
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/*.cmake
/*.so
/*.o
/*.a
/*.dylib
/*.dll
/*.exe

# 忽略 IDE 生成的文件
*.idea/
*.vscode/
*.swp
*.swo

# 忽略二进制文件
bin/
*.out

# 忽略日志文件
*.log

# 忽略 yaml-cpp 的编译文件
third_party/yaml-cpp/build/
third_party/yaml-cpp/CMakeFiles/
third_party/yaml-cpp/CMakeCache.txt
third_party/yaml-cpp/*.cmake

# 忽略vscode的配置文件
.vscode/